ServicioWebLecturaWSDL/xml-resources/web-service-references/ConversionSW/wsdl/localhost_8080/ServicioWebSOAP/ConversionSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="ConversionSW">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/ServicioWebSOAP/ConversionSW?xsd=1"/>
</xsd:schema>
</types>
<message name="Npotencia">
<part name="parameters" element="tns:Npotencia"/>
</message>
<message name="NpotenciaResponse">
<part name="parameters" element="tns:NpotenciaResponse"/>
</message>
<message name="PAR_IMPAR">
<part name="parameters" element="tns:PAR_IMPAR"/>
</message>
<message name="PAR_IMPARResponse">
<part name="parameters" element="tns:PAR_IMPARResponse"/>
</message>
<message name="Diccionario">
<part name="parameters" element="tns:Diccionario"/>
</message>
<message name="DiccionarioResponse">
<part name="parameters" element="tns:DiccionarioResponse"/>
</message>
<message name="Multiplicacion">
<part name="parameters" element="tns:Multiplicacion"/>
</message>
<message name="MultiplicacionResponse">
<part name="parameters" element="tns:MultiplicacionResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Suma">
<part name="parameters" element="tns:Suma"/>
</message>
<message name="SumaResponse">
<part name="parameters" element="tns:SumaResponse"/>
</message>
<portType name="ConversionSW">
<operation name="Npotencia">
<input wsam:Action="http://sw/ConversionSW/NpotenciaRequest" message="tns:Npotencia"/>
<output wsam:Action="http://sw/ConversionSW/NpotenciaResponse" message="tns:NpotenciaResponse"/>
</operation>
<operation name="PAR_IMPAR">
<input wsam:Action="http://sw/ConversionSW/PAR_IMPARRequest" message="tns:PAR_IMPAR"/>
<output wsam:Action="http://sw/ConversionSW/PAR_IMPARResponse" message="tns:PAR_IMPARResponse"/>
</operation>
<operation name="Diccionario">
<input wsam:Action="http://sw/ConversionSW/DiccionarioRequest" message="tns:Diccionario"/>
<output wsam:Action="http://sw/ConversionSW/DiccionarioResponse" message="tns:DiccionarioResponse"/>
</operation>
<operation name="Multiplicacion">
<input wsam:Action="http://sw/ConversionSW/MultiplicacionRequest" message="tns:Multiplicacion"/>
<output wsam:Action="http://sw/ConversionSW/MultiplicacionResponse" message="tns:MultiplicacionResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://sw/ConversionSW/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://sw/ConversionSW/RestaResponse" message="tns:RestaResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://sw/ConversionSW/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://sw/ConversionSW/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://sw/ConversionSW/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://sw/ConversionSW/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sw/ConversionSW/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sw/ConversionSW/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Suma">
<input wsam:Action="http://sw/ConversionSW/SumaRequest" message="tns:Suma"/>
<output wsam:Action="http://sw/ConversionSW/SumaResponse" message="tns:SumaResponse"/>
</operation>
</portType>
<binding name="ConversionSWPortBinding" type="tns:ConversionSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Npotencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PAR_IMPAR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversionSW">
<port name="ConversionSWPort" binding="tns:ConversionSWPortBinding">
<soap:address location="http://localhost:8080/ServicioWebSOAP/ConversionSW"/>
</port>
</service>
</definitions>