ServicioWebLecturaWSDL/xml-resources/web-service-references/ConversionSW/wsdl/localhost_8080/ServicioWebSOAP/ConversionSW.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="Diccionario" type="tns:Diccionario"/>

<xs:element name="DiccionarioResponse" type="tns:DiccionarioResponse"/>

<xs:element name="Division" type="tns:Division"/>

<xs:element name="DivisionResponse" type="tns:DivisionResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="Multiplicacion" type="tns:Multiplicacion"/>

<xs:element name="MultiplicacionResponse" type="tns:MultiplicacionResponse"/>

<xs:element name="Npotencia" type="tns:Npotencia"/>

<xs:element name="NpotenciaResponse" type="tns:NpotenciaResponse"/>

<xs:element name="PAR_IMPAR" type="tns:PAR_IMPAR"/>

<xs:element name="PAR_IMPARResponse" type="tns:PAR_IMPARResponse"/>

<xs:element name="Resta" type="tns:Resta"/>

<xs:element name="RestaResponse" type="tns:RestaResponse"/>

<xs:element name="Suma" type="tns:Suma"/>

<xs:element name="SumaResponse" type="tns:SumaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Division">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplicacion">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="Cedula" type="xs:string" minOccurs="0"/>
<xs:element name="Contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PAR_IMPAR">
<xs:sequence>
<xs:element name="num" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PAR_IMPARResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Npotencia">
<xs:sequence>
<xs:element name="num" type="xs:int"/>
<xs:element name="pot" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NpotenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Resta">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Suma">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Diccionario">
<xs:sequence>
<xs:element name="palabra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DiccionarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>